$yellow: #FFBA00;
$mintWhite: #F5FEFF;
$white: #ffffff;
$black: #000000;
$darkBtn: #222430;
$textBlack: #2E302E;
$lyellow: #fffeef; 
// site
$yg: #ebefd9;

$roboto: var(--font-roboto), sans-serif;
$inter: var(--font-inter), sans-serif;
$mono: var(--font-roboto-mono), sans-serif;
$monts: var(--font-montserrat), sans-serif;
$poppins: var(--font-poppins), sans-serif;
$opensans: var(--font-open-sans), sans-serif;
$heading: var(--font-playfair), sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extrabold: 800;