$yellow: #FFBA00;
$mintWhite: #F5FEFF;
$white: #ffffff;
$black: #000000;
$darkBtn: #222430;
$textBlack: #2E302E;

$roboto: var(--font-roboto), sans-serif;
$inter: var(--font-inter), sans-serif;
$mono: var(--font-roboto-mono), sans-serif;
