.btn { //comment 3
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    padding: 11px 25px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    @include montbold;

    &-darkbrown {
        color: $white;
        background: #664136;
    }
    &-sp {
        background: #3e0e08;
        color: $white;
    }
    &-white {
        background: $white;
    }
    &-lyellow {
        background: $lyellow;
        color: $black;
    }
    &-brown {
        background: #816042;
        color: $white;
    }
}