.pill {
    padding: 6.5px 20px;
    border-radius: 28px;
    text-align: center;
    display: inline-block;
    &-yellow {
        background: $yellow;
        p {
            color: $textBlack;
            font: 18px/24px $roboto;
            font-weight: 400;
        }
    }
    &-full {
        display: block;
    }
    &-tall {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}