.circleImg_panel {
    padding: 73.5px 38px;
    background: $white;
    border-radius: 52px;
    .circleImg {
        &_holder {
            @include flex;
            &-3 {
                > div {
                    width: 33.3%;
                }
            }
        }
        &_card {
            @include flex;
            align-items: center;
            &-img {
                width: 135px;
                height: 135px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &-text {
                margin-left: 19px;
                max-width: 194px;
                h4 {
                    font: 18px/24px $mono;
                }
            }
        }
    }
}