.header {
    background: $yg;
    padding: 10px 0;
    .header {
        &_holder {
            @include flex;
            justify-content: space-between;
            align-items: center;
        }
        &_logo {
            max-width: 100px;
            img {
                width: 100%;
                object-fit: contain;
                height: 100%;
            }
        }
        &_nav {
            ul {
                @include flex;
                list-style-type: none;
                margin-left: -24px;
                margin-right: -24px;
                align-items: center;
            }
            li {
                padding: 6px 24px;   
                &.hasChildren {
                    position: relative;
                    display: inline-block;
                    &:hover {
                        .header_submenu {
                            display: block;
                        }
                    }
                }
            }
            .gsBtn {
                padding: 12px 24px;
                background: #73897b;
                //box-shadow: 0 10px #d8bf70;
                color: $white;
                text-transform: uppercase;
                border-radius: 25px;
                //animation: 1s ease-in-out press infinite;
                position: relative;
                display: block;
                z-index: 5;
            }
            a {
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 12px;
                font-family: $opensans;
                line-height: 20px;
            }
        }
        &_submenu {
            position: absolute;
            background: $white;
            top: 100%;
            min-width: 180px;
            left: 50%;
            transform: translate(-50%, 0px);
            display: none;
            z-index: 1;
            ul {
                margin: 0;
            }
            li {
                padding: 12px 24px;
                width: 100%;
            }
        }
    }
}

@keyframes press {
    from {
        // box-shadow: 0 10px #d8bf70;
        // transform: translate(0, 0px);
    } to {
        //box-shadow: 0 0px #d8bf70;
        //transform: translateY(4px);
        //transform: translate(0, 10px);
    }
}