.simpleText_sec {
    border-top: 1px solid #CDD6DE;
    padding: 73px 0 60px;
    .container {
        max-width: 742px;
    }
    p {
        margin-bottom: 32px;
        font: 18px/24px $mono;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}